<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrocCSarpBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CrocCSarpBot.Properties.Settings>
      <setting name="Token" serializeAs="String">
        <value>1143399443:AAF-umACGpif8YAN05GBcYpuhPXHYK7yvIc</value>
      </setting>
      <setting name="FileName" serializeAs="String">
        <value>C:\botstate.xml</value>
      </setting>
      <setting name="TimerTickInMilliseconds" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="TimeOutInSeconds" serializeAs="String">
        <value>5</value>
      </setting>
    </CrocCSarpBot.Properties.Settings>
  </applicationSettings>
</configuration>